{% extends "base.html" %}
{% block body %}
    
    <div class="body">
        <h1>Boat Search</h1>
        
        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}

        {% if success %}
            <h2>{{success}}</h2>
        {% endif %}

        {% if boat %}
            <ul>
                <li>ID: {{boat.id}}</li>
                <li>Boat Name: {{boat.name}}</li>
                <li>Boat Type: {{boat.type}}</li>
                <li>Owner ID: {{boat.owner_id}}</li>
                <li>Rental Price: ${{boat.rental_price}}</li>
            </ul>    
        {% endif %}

        <form action="/boatSearch" method="POST">
            <input list="number" name="id" placeholder="Enter an ID" class="input_field">
            <datalist id="number">
                {% for boat in boats %}
                    <option value='{{boat.id}}'>{{boat.id}}</option>
                {% endfor %}
            </datalist> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>
    </div>
{% endblock %}