{% extends "base.html" %}
{% block body %}
    <h1>Boat Updater</h1>
    <h2>Enter the ID of the boat you want to update. Then enter the values to change.</h2>
    <div class="body">

        {% if error %}
            <h2>{{error}}</h2>
        {% endif %}

        {% if success %}
            <h2>{{success}}</h2>
        {% endif %}

        <form action="/boatUpdate" method="POST">
            <input type="number" name="id" placeholder="ID" class="input_field"> <br>
            <input type="text" name="name" placeholder="Boat name" class="input_field"> <br>
            <input type="text" name="type" placeholder="Boat type" class="input_field"> <br>
            <input type="number" name="owner_id" placeholder="Owner ID" class="input_field"> <br>
            <input type="number" name="rental_price" placeholder="Rental price" class="input_field" step="0.01"> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>
    </div>
{% endblock %}